<div class="row header">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <h1 class="title">
        <strong>fakebook</strong>
      </h1>
    </div>
    <div class="col-md-5 loginBlock">
      <div id="loginForm">
        <div class="loginInputs">
        <div class="left">
          <div for="loginName">Email or phone</div>
          <input #loginName id="loginName" name="loginName" type="email" required>
        </div>
        <div class="right">
          <div for="password">Password</div>
          <input #password id="password" name="password" type="password" required>
        </div>
        </div>
        <button class="loginButton" (click)="loginButtonClicked(loginName.value, password.value); loginName.value=''; password.value='';">Log In</button>
      </div>
    </div>
  </div>