<div *ngIf="!loggedIn">
  <app-login (buttonClicked)="login($event)"></app-login>
  <app-create-profile (profileCreated)="createProfile($event)"></app-create-profile>
  <div *ngFor="let profile of profiles | async">{{profile.firstName}}{{profile.lastName}}{{profile.email}}{{profile.password}}</div>
</div>
<div *ngIf="loggedIn">
  <div class="container">
    <div class="row">
      <div id="nav" class="col-md-3">
        <div class="nav">
          <h1>NAV</h1>
        </div>
      </div>
      <div id="newsFeed" class="col-md-6 mainElement">
        <app-create-post (createClicked)="createPost($event)"></app-create-post>
        <div class="feedElement" *ngFor="let post of posts | async | reverse">{{post.creator.firstName}} {{post.creator.lastName}}: {{post.text}}</div>
      </div>
      <div id="rightBar" class="col-md-3 mainElement">
        <div class="rightBar">
            <h1>RIGHT</h1>
        </div>
      </div>
    
  </div>
</div>