<div class="row header">
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <h1 class="title">
      <strong>{{title}}</strong>
    </h1>
  </div>
  <div class="col-md-5 loginBlock">
    <form id="myForm">
      <div class="loginInputs">
      <div class="left">
        <div for="loginName">Email or phone</div>
        <input id="loginName" name="loginName" type="email" required>
      </div>
      <div class="right">
        <div for="password">Password</div>
        <input id="password" name="password" type="password" required>
      </div>
      </div>
  
      <button class="loginButton">Log In</button>
      
    </form>
  </div>
  

</div>

